.header{
    position: relative;
    text-align: center;
}
.text{
    color: azure;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}
.select{ 
    
    display: flex;
    gap: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(255, 255, 255, 0.30);
    align-items: flex-start;
    padding: 16px;

}
button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #FF5400;
}
.popular{
    display: flex;
    margin-top: 50px;
}
.tour{
    padding-right: 100px;
    
    
}
.destination{
    display: grid;
    text-align: center;
    gap: 5px;
    padding: 20px;
    max-width: 100%;
    height: auto;
}
.image{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 5px; 
    max-width: 50%;
    height: auto;
    padding: 10px 10px 10px 10px;
    
}
.choose{
    text-align: center;
}
.div{ 
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 10px 10px 10px 10px;
}
.hotel{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
width: 573px;
height: 284px;
padding: 20px 10px 10px 20px;
margin-left: 20px;
}
.service{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
width: 573px;
height: 284px;
padding: 20px 10px 10px 20px;
}
.deal{
    justify-content: center;
    margin: auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    height: 284px;
    padding: 20px 10px 10px 20px; 
}
.place{
    display: flex;
    padding: 30px 10px 10px 10px;
}
.perfect{
    display: grid;
}
.video{
    border: 1px solid black;
    border-radius: 5px;
}
.letter{
    display: flex;
    padding: 40px 10px 10px 10px;
    gap: 100px;
}
.news{
    display: grid;
    border: 1px solid #FF5400;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    width: 100%;
    height: 100%;
    }
.label{
    display: grid;
}
input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    padding: 10px 10px 10px 10px;

}
.chobi{
    margin: auto;
    padding-right: 0%;
    border-radius: 5px;
    width: 672px;
height: 422px;
}
.footer{
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 30px;
    padding: 50px 10px 50px 10px;
}
@media screen and (min-width: 600px) and (max-width: 992px) {
    .select {
        flex-direction: column;
    }
}